@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');
.blessings-room {
  padding-top: 5%;
  &-actions{
    display: flex;
    justify-content: center;
    button{
      margin: 30px 10px 10px 10px
    }
  }
}
.blessing-card {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
  background-color: white;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 50px;
  border-radius: 10px;
  &-content {
    font-size: 30px;
    font-style: italic;
    font-family: 'Caveat', cursive !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.rec-dot_active{
  background-color: white !important;
  box-shadow: none !important;
}