@import '../../styles/colors.scss';
.app-controls {
  display: flex;
  flex-direction: column;

  &__button {
    box-sizing: border-box;
    border-radius: 100%;
    padding: 0.25em;
    margin: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background-color: $secondary-color-background;
    border: 1px solid white;

    &:hover {
      opacity: 0.8;
    }

    &.is-active {
      background-color: $tertiary-color-background;
      &:hover {
        opacity: 0.8 ;
      }
    }
  }
}
