@import "./colors.scss";
.page-paper {
  background-color: white;
  border-radius: 12px;
  margin: 3% 3% 10px 3%;
  height: 100%;
}
.button {
  &-action {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  &-primary {
    background-color: $primary-color-background;
  }
  &-secondary {
    background-color: $secondary-color-background;
    &-settings{
      background-color: white;
      color: $secondary-color-background;
      text-align: left;
      margin-left: -5px;
    }
  }
  &-tertiary {
    background-color: $tertiary-color-background;
    &-inverted {
      background-color: white;
      color: $tertiary-color-background;
      border: 1px solid $tertiary-color-background;
    }
  }
  &-cancel{
    color: $primary-color-background;
    background-color: white;
    border: 1px solid $primary-color-background;
  }
}
.dialog-title-root{
  font-size: 20px;
}
.room{
  border-radius: 12px !important;
}